In [1]:
a = 3
b = 4
c = (a ** 2 + b ** 2) ** 0.5
print(c)

5.0

In [2]:
print( 'I am working with Phyton')

I am working with Phyton

In [4]:
text = 'I am working with Phyton'
text_new = text.upper()
print(text_new)

I AM WORKING WITH PHYTON

In [13]:
text1 = "I"
text2 = "am ALI"
amount = 2
text3 = text1 + " " + text2 + " " +str(amount)
#print(text3)
print(text1, text2, amount)

I am ALI 2

In [18]:
x = 5
print('value of x       : ', x)

x += 2
print("2 more of x      : ", x, "\n", end="")

y = 10
print('value of y       : ', y)

value of x       :  5
2 more of x      :  7
value of y       :  10

In [15]:
x += 2
print("2 more of x      : ", x, "\n")

2 more of x      :  7

In [27]:
print('C:\\nort\h pole\\noise')

C:\nort\h pole\noise

In [26]:
print("benim \\\\\\bugü\n\ dogum günüm")

benim \\\bugü
\ dogum günüm

In [37]:
text = "Clarusway, Clarusway, Clarusway," + "\n" + "\t" + "Clarusway, Clarusway, Clarusway," + "\n" + "\t" + "\t" + "Clarusway, Clarusway, Clarusway"

print(text)

Clarusway, Clarusway, Clarusway,
	Clarusway, Clarusway, Clarusway,
		Clarusway, Clarusway, Clarusway

In [40]:
print(2 and [] and None and ())

[]

In [64]:
Text = 3*(((3*'Clarusway,'+'\n')+'\t'))
print (Text)

ClaruswayClaruswayClarusway
	ClaruswayClaruswayClarusway
	ClaruswayClaruswayClarusway

In [2]:
"my name is Tuna. Ich habe 2 Brüder. Mein Vater is 38 Jahre alt."

'my name is Tuna. Ich habe 2 Brüder. Mein Vater is 38 Jahre alt.'

In [ ]:
"my name is tuna. Ich habe 2 Brüder. Mein vater is 38 Jahre alt."