In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("people.csv", index_col = 0)

In [5]:
df

            first name  last name   ages
row number
1                yasar     yilmaz     72
2              keziban     yilmaz     62
3                canan     yilmaz     45
4                nuran     yilmaz     43
5               g端ls端m     yilmaz     41