In [5]:
my_list = ['Joseph', 'Clarusway', 2020]
word = 'Joseph'
new_list1 = list(my_list) # listeyi bir daha liste yapmaz
new_list2 = [my_list] # tekrar eleman olarak yeni bir liste yapar
word_list = list(word)
print(new_list1)
print(len(new_list1))
print(new_list2)
print(len(new_list2))
print(word_list)

['Joseph', 'Clarusway', 2020]
3
[['Joseph', 'Clarusway', 2020]]
1
['J', 'o', 's', 'e', 'p', 'h']

In [9]:
text = "2020's hard"
my_list1 = list(text)
my_list2 = [text]
my_list3 = ["2020's hard"]
print(my_list1)
print(my_list2)
print(my_list3)

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']
["2020's hard"]
["2020's hard"]

How to create an empty list? and empty list is often used. .append, .insert, .remove, .sort

In [10]:
empty_list = []
empty_list.append(6666)
empty_list.append('Multiverse')
empty_list.append([0])

print (empty_list)

[6666, 'Multiverse', [0]]

In [11]:
list_1 = []
list_1.append(1)
list_1.append(2)
list_1.append(3)
list_1.append(4)
list_1

[1, 2, 3, 4]

In [12]:
list_2 = []
list_2.insert(0, 1)
list_2.insert(1, 2)
list_2.insert(2, 3)
list_2.insert(3, 4)
list_2.insert(4, 5)
list_2

[1, 2, 3, 4, 5]

In [19]:
numbers = ['1', '4', '7', '9', '7']
numbers.remove('7')
numbers

['1', '4', '9', '7']

In [20]:
numbers.remove('7')
numbers

['1', '4', '9']

In [21]:
numbers = ['1', '4', '7', '9', '7']
numbers.sort()
numbers

['1', '4', '7', '7', '9']

In [22]:
list_1 = ['one', 'four', 'nine']
list_2 = ['*-', '@', 'False']
list_3 = [True, False]
list_4 = [[3], [44], [-12]]
list_5 = [[1, 3], [44, -40], [-12, 1]]

In [23]:
list_1.sort()
list_1

['one', 'four', 'nine']

In [24]:
list_2.sort
list_3.sort
list_4.sort
list_5.sort
list_2
list_3
list_4
list_5

[[1, 3], [44, -40], [-12, 1]]

In [28]:
list_num = list(range(1, 11))
list_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
numbers[0::2]

['4', '7']

In [30]:
list_num[0::2]

[1, 3, 5, 7, 9]

In [31]:
mix_list = [1, [1, "one", 2, "two", 3, "three"], 4]
mix_list[1][1::2]

['one', 'two', 'three']