In [1]:
import pandas as pd
other = pd.DataFrame({'key': ['K0', 'K2', 'K3'],
                      'Y': ['Y0', 'Y2', 'Y3']})
other
df = pd.DataFrame({'key': ['K0', 'K2', 'K3', 'K4', 'K5', 'K6'],
                   'X': ['X0', 'X2', 'X3', 'X4', 'X5', 'X6']})
df

  key   X
0  K0  X0
1  K2  X2
2  K3  X3
3  K4  X4
4  K5  X5
5  K6  X6

In [2]:
df.join(other.set_index("key"), on = "key", how = "right")

  key   X   Y
0  K0  X0  Y0
1  K2  X2  Y2
2  K3  X3  Y3

In [3]:
other.join(df.set_index("key"), on = "key", how = "left")

  key   Y   X
0  K0  Y0  X0
1  K2  Y2  X2
2  K3  Y3  X3

In [4]:
df = pd.read_html("https://qap.ecdc.europa.eu/public/extensions/COVID-19/COVID-19.html")

ValueError: No tables found