In [4]:
for i in range(5):
    print("I love you")
    print(i)

I love you
0
I love you
1
I love you
2
I love you
3
I love you
4

In [9]:
num = int(input("enter a number"))
for i in range(11):
    print("{} x {} = ".format(num, i), num * i)

enter a number11
11 x 0 =  0
11 x 1 =  11
11 x 2 =  22
11 x 3 =  33
11 x 4 =  44
11 x 5 =  55
11 x 6 =  66
11 x 7 =  77
11 x 8 =  88
11 x 9 =  99
11 x 10 =  110

In [10]:
1<1

False

In [11]:
print(range(5))
print(*range(5))

range(0, 5)
0 1 2 3 4

In [12]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

In [13]:
print(*range(10,0,-2))

10 8 6 4 2

In [14]:
print(*('separate'))

s e p a r a t e

In [15]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers):
    print(x, ':', y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [24]:
evens = []
odds = []

for i, j in zip(range(0,11,2), range(1,11,2)):
    evens.append(i)
    odds.append(j)
print(evens, odds, sep="\n")

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [28]:
my_list = [11, 2, 24, 63, 33, 44, 45]
even = 0
odd = 0
for i in my_list:
    if i % 2 == 0:
        even += 1
    else: odd += 1
print("The number of even numbers :", even)
print("The number of odd numbers :", odd)

The number of even numbers : 3
The number of odd numbers : 4

In [34]:
    for i in range(10):
        print(str(" ")str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [35]:
for i in range (1,10):
    print(str(i)*i+str(10-i)*(10-i))

1999999999
2288888888
3337777777
4444666666
5555555555
6666664444
7777777333
8888888822
9999999991

In [41]:
summe = 0
for i in range(75):
    summe += i
print(summe)

2775