Problem: Path to Folder

Given a folder of build files that might look like this:
    
/Build-1.dmg

/Build-2.dmg

/Build-2.1.dmg

/Build-2.1.1.dmg

/Build-3.dmg

/Build-3.3.dmg

/Build-3.19.dmg

Write a script that takes a path to the folder as an argument, and prints the highest build number (just the number, i.e. 2.1.1)
Note: The first digit can go up to 999 and should always be present, but the second and third can only go up to 99, and might not be included.

In [7]:
import os
import pandas as pd

In [27]:
import os
import pandas as pd
files = os.listdir('C:/Users/aliyi/PYTHON/Python_Interview_Coding/file_folder')
df = pd.DataFrame(files, columns=['files'])
df['files'] = df['files'].str.replace('Build-','').str.replace('.dmg','')
df[['first','middle','last']] = df.files.str.split(".",expand=True)
df = df.sort_values(by=['last', 'middle', 'first'], ascending=False, axis=0)
print(files)
print(df.head(1)['files'])

['Build-1.dmg', 'Build-2.1.1.dmg', 'Build-2.1.dmg', 'Build-2.dmg', 'Build-3.19.dmg', 'Build-3.3.dmg', 'Build-3.99.dmg', 'Build-3.dmg', 'Build-99.1.dmg']
1    2.1.1
Name: files, dtype: object

In [5]:
files = os.listdir('C:/Users/aliyi/PYTHON/Python_Interview_Coding/file_folder')
files

['Build-1.dmg',
 'Build-2.1.1.dmg',
 'Build-2.1.dmg',
 'Build-2.dmg',
 'Build-3.19.dmg',
 'Build-3.3.dmg',
 'Build-3.dmg']

In [11]:
df = pd.DataFrame(files, columns=['files'])
df

             files
0      Build-1.dmg
1  Build-2.1.1.dmg
2    Build-2.1.dmg
3      Build-2.dmg
4   Build-3.19.dmg
5    Build-3.3.dmg
6      Build-3.dmg

In [12]:
df['files'] = df['files'].str.replace('Build-','')
df

       files
0      1.dmg
1  2.1.1.dmg
2    2.1.dmg
3      2.dmg
4   3.19.dmg
5    3.3.dmg
6      3.dmg

In [13]:
df['files'] = df['files'].str.replace('.dmg','')
df

   files
0      1
1  2.1.1
2    2.1
3      2
4   3.19
5    3.3
6      3

In [14]:
df[['first','middle','last']] = df.files.str.split(".",expand=True)
df

   files first middle  last
0      1     1   None  None
1  2.1.1     2      1     1
2    2.1     2      1  None
3      2     2   None  None
4   3.19     3     19  None
5    3.3     3      3  None
6      3     3   None  None

In [21]:
df = df.sort_values(by=['last', 'middle', 'first'], ascending=False, axis=0)
df.head(1)['files']

1    2.1.1
Name: files, dtype: object